body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #bfffcd;
}

#dzik {
    width: 300px;
    cursor: pointer;
}

#number-display {
    font-size: 24px;
    margin: 20px;
}

#score {
    margin-top:40px;
    font-size: 24px;
    font-weight: bold;
}

#best-score{

    font-weight: bold;
}

#start-button{
    font-weight: bold;
    color: white;
    font-size: 18px;
    border-radius: 12%;
    border-color: white;
    border-width: 7px;
    height: 110px;
    width: 140px;
    background-color: green;
}
div
{
    margin:20px;
}
#times
{
    color:rgb(40, 43, 44);
    font-family: 'Trebuchet MS', sans-serif;
}